


.track {
    border-radius: 16px;
    background: var(--Accent-White, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(17, 0, 255, 0.16);
    border-width: 0.5px;
    border-radius: 10px;
    height: 100%;
    margin: 1rem;
    margin-left: 0.8rem;
    min-height: 200px;
    padding: 0.5rem;
    width: 100%;

    .track__one {
        border-radius: 8px;
        background: var(--Primary-00, #F7FCFD);
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        div:nth-child(1) {
        display: flex;
        h3 {
            color: var(--Grey-Grey05, #333);
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            margin-top: 0;
            margin-left: 1rem;
        }
        p {
            color: var(--Grey-Grey05, #333);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
        }
        div:nth-child(2) {
            p {
                color: var(--Grey-Grey05, #333);
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                margin-block: 0;
            }
        }
    }
}

.circular__progress--bar {
    height: 30px;
    text-align: left;
    width: 30px;
}

.active__learning {
    background: var(--Primary-00, #F7FCFD);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0;
    div:nth-child(1) {
        display: flex;
        h3 {
            color: var(--Grey-Grey05, #333);
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            margin-top: 0;
            margin-left: 1rem;
        }
    }
}

.course {
    background: var(--Primary-00, #F7FCFD);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    div {
        h3 {
            color: var(--Primary-Primary06, #2C96A2);
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }
        p {
            color: var(--Accent-Black, #141414);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }
}

@media (max-width: 480px) {
    .track {
        margin: 2rem 0 0;
        width: 100%;
    }
}
