.dashboard {
    display: flex;
    overflow: scroll;
    width: 100%;
}

.dashboard__main {
    width: 100%;

    .community__mobile {
        display: none;
    }
}

.dashboard__main--first {
    display: flex;
    width: 100%;

    & > h2:first-of-type {
        display: none;
    }
}

.skills-sm {
    display: none;
}

.skills-lg {
    display: block;
}

@media (max-width: 480px) {
    .dashboard {
        overflow-x: hidden;
    }
    .dashboard__main {
        width: 100%;
        .community__mobile {
            display: flex;
            justify-content: space-between;
            margin-inline: 1rem;
        }
        h2:first-of-type {
            color: #848484;
            display: block;
            font-size: 19px;
            font-weight: 700;
            margin-top: 1.5rem;
        }
    }
    .dashboard__main--first {
        padding: 0 1.5rem;
        flex-direction: column;
    }
    .skills-sm {
        display: block;
    }
    
    .skills-lg {
        display: none;
    }
}
