.logo__container {
    background: linear-gradient(0deg, rgba(8, 131, 149, 0.80) 0%, rgba(8, 131, 149, 0.80) 100%), url("https://www.figma.com/file/pKjMht1X2geCKktU24hFDd/image/2d83ec7d9d394c6e3adc95e4705c418d5ac9cc0f"), lightgray 50% / cover no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 45%;

    .logo {
        height: 180px;
        width: 159.545px;
    }

    h6 {
        color: var(--secondary-secondary-04-main, #FBA04B);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        margin-top: 0;
    }
}

@media screen and (max-width: 481px) {
    .logo__container {
        display: none;
    }
}

.auth__container {
    // height: 100vh;
    padding-block: 6rem;
    padding-inline: 4rem;
    width: 55%;
    overflow-x: hidden;

    &>.back__btn {
        display: none;
    }

    &>img:first-of-type {
        display: none;
    }

    h1 {
        color: #141414;

        span {
            color: #37BBCA;
        }
    }

    div {
        display: flex;
        justify-content: space-between;

        hr {
            color: #CECECE;
        }

        h3 {
            text-decoration: none;

            span {
                color: #37BBCA;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .auth__container--form {
        height: fit-content;
        width: 100%;

        form {
            width: 100%;

            input,
            select {
                border-radius: 4px;
                border: 1.25px solid var(--grey-grey-03, #CECECE);
                display: flex;
                font-size: 1rem;
                align-items: flex-start;
                gap: 8px;
                padding: 0.6rem 1rem;
                position: relative;
                margin-top: 0;
                // padding: 11px 12px;
                width: 100%;

                &:focus {
                    // border-color: #CECECE;
                    outline: none;
                }
            }

            select {
                background: none;
                color: #848484ec;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                width: 100%;

                option {
                    color: #000;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                }
            }

            div {
                display: flex;
                position: relative;
            }

            .auth__container--password {
                border-radius: 4px;
                border: 1.25px solid var(--grey-grey-03, #CECECE);
                display: flex;
                justify-content: space-between;
                padding-inline-end: 1rem;
                width: 100%;

                input {
                    border: none;
                }

                h6 {
                    color: var(--grey-grey-04, #848484);
                    display: flex;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 150%;
                    margin-block: 0;
                    justify-self: flex-start;
                }
            }

            // .auth__container--show--password {

            // }
            svg {
                cursor: pointer;
                height: 1rem;
                width: 1.5rem;
            }

            .loading {
                position: absolute;
                bottom: 265.5px;
                right: 130px;
            }

            p {
                color: var(--primary-primary-06, #2C96A2);
                cursor: pointer;
            }
        }
    }

    .auth__container--btn,
    .reset__password--btn {
        border: 1px;
        border-radius: 4px;
        cursor: pointer;
        background: var(--primary-primary-05-main, #37BBCA);
        color: #FFF;
        font-size: 1rem;
        height: 2.875rem;
        padding: .6875rem 1rem;
        transition: background-color 0.5s ease-in 0.1ms;
        width: 100%;

        &:hover {
            background-color: lighten(#37BBCA, 10%);
        }
    }

    .auth__container--btn:disabled,
    .reset__password--btn:disabled {
        background: #CECECE;
        color: #000;
        cursor: text;
        opacity: 50%;
        pointer-events: none;
        text-decoration: none;
    }

    h5 {
        color: var(--colour-styles-black-01, #111);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        span {
            color: var(--primary-primary-05-main, #37BBCA);
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// ::placeholder {
//     font-family: 'Roboto', sans-serif;
//     font-size: 0.9rem;
// }


@media screen and (max-width: 481px) {
    .auth__container {
        // align-items: center;
        padding-top: 4rem;
        padding-inline: 1.2rem;
        text-align: center;
        overflow-y: none;
        width: 100%;

        &>.back__btn {
            display: flex;
            align-self: flex-start;
            margin-bottom: 1rem;
        }

        // &>.logo {
        //     text-align: center;
        // }

        &>img:first-of-type {
            display: block;
            height: 81px;
            margin: 0 auto;
            margin-bottom: 5rem;
            text-align: center;
            width: 72px;
        }

        h3 {
            font-size: 14px;
            text-align: left;
        }

        h1 {
            font-size: 1.6rem;
        }

        div {
            width: 100%;

            hr {
                width: 2rem;
            }
        }

        .auth__container--form {
            input {
                width: 280px;

                &::placeholder {
                    font-size: 1rem;
                }
            }

            p {
                display: flex;
                justify-content: flex-start;
            }

            &>.auth__container--password {
                h6 {
                    font-size: 13px;
                }
            }
        }

        h5 {
            font-size: 11.5px;
        }
    }

    ::placeholder {
        font-family: 'Roboto', sans-serif;
        font-size: 0.7rem;
    }
}
